.Aboutbanner{
    background:linear-gradient(rgba(0,0,0,0.671),rgba(0, 0, 0, 0.671)), url("../src/assets/img/2484190.jpg") ;
    width: 100%;
    height: auto;
    padding: 100px 0 100px 0px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  
 
}

.About h1 {
    overflow: hidden;
    text-align: center;
  }
  
  .About h1:before,
  .About h1:after {
    background-color: orangered;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  /* .About .jango{
    width: auto;
    height: 300px;
  }
  
  .About .jangol{
    width: auto;
    height: 400px;
  } */
  

  .About h1:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .About h1:after {
    left: 0.5em;
    margin-right: -50%;
  }