
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";

.imaagee{
 width: 200px;
 height: 100px;
}

input,select{
    width: 100%;
}

.HIII {
  background-color: rgb(235, 232, 232);
}

.imageofag{
    width: 100%;
    height:auto;
}

.imageofagt{
    padding-top: -150px;
    padding-bottom: -150px;
}

.Agreementbanner{
    background:linear-gradient(rgba(0,0,0,0.671),rgba(0, 0, 0, 0.671)), url("../src/assets/img/wp10173503-agreement-wallpapers\ \(1\).jpg") ;
    width: 100%;
    height: auto;
    padding: 100px 0 100px 0px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  
 
}

.Agreement h1 {
    overflow: hidden;
    text-align: center;
  }
  
  .Agreement h1:before,
  .Agreement h1:after {
    background-color: orangered;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
  .Agreement h1:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .Agreement h1:after {
    left: 0.5em;
    margin-right: -50%;
  }