/************ Custom Font ************/

@font-face {
	font-family: Raleway;
	src: url('./FONTS/static/Raleway-Regular.ttf');
	
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
 
 
}

body {

  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  color: black !important;
  font-family: 'Centra', sans-serif !important;
  height: max-content;
  background-color: white;
}
#root{
  height: 100%;
  
  width: 100%;
  background-image: url("../src/assets/img/wp3704704-logistics-wallpapers.jpg");

    background-position: center;
    background-size: cover;
    background-repeat: repeat;
   background-attachment: fixed;
  
}
.App{
  height: 100%;
  
  }

body p{
  font-family: Gothic;
  font-weight: 600;}

  body ,h2,h3,h5,h6{
    font-family: Raleway;
    font-weight: 600;}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}
h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

button {
  border: 0;
  /* background-color: transparent; */
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:100%) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

/* loader */

.Data{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}


/************ Strip Css ************/
.Strip{
  width: 100%;
  height: 42px;
  padding: 10px 0 20px 0px;
  background-color:midnightblue;
  color: white;
  margin-top: 0; 
  background-repeat: no-repeat;
  overflow: hidden;
  font-family: RobotoSlab;
  font-size: 16px;
}

.Strip a{
  font-size: 16px!important;
}



.Strip table thead td{
  padding-right: 5px;
  overflow: hidden;
}


#STRIP{
  margin-left: 15px;
  margin-right: 5px;
}

.Strip .marquee {
color:white;
letter-spacing: 2px;
font-weight: 500;
padding-left: -10px;
font-size: 16px;
}




/************ Navbar Css ************/

.intro {

  background: linear-gradient(rgba(0,0,0,0.471),rgba(0, 0, 0, 0.471)), url("../src/assets/img/blue-truck1.jpg");
  margin-top: 0;
  padding: 50px 0 50px 0px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  
  } 


  .intro .game{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center!important;
    height: 400px;
  }
  
  .intro .game h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;

  }

  .intro p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 1.5px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .intro .btn1{
    background-color: #ED1C24;
    color: white;
  }
  .intro .btn1:hover {
    
    background-color: midnightblue!important;
  }

  .intro  .btn2{
    margin-left: 30px;
    border: 1px white solid;
    background-color: transparent;
    color: white;
  }
  .intro .btn2:hover{
    background-color: white!important;
    color: black!important;
  }


  /*footer*/

 .Footer{
	background-color: #202126;

 }
  /* Banner */

.Banner{
  padding: 50px 0 20px 0px;
  background-repeat: no-repeat;
  background-color: rgb(235, 232, 232);
  height: auto;
  text-align: center;
  align-items: center;
}

.Banner .BannerContainer{
  width: 100%;
  text-align: center;
  justify-content: center;
  transition: 3s ease;
  
}

.Banner .BannerContainer p{
  color: grey;
  font-size: 14px;
  font-weight: bold;
  font-family: Gothic;
}

.Banner .BannerContainer h4{
  font-weight: bold;
  font-family: RobotoSlab;
}

.Banner .BannerContainer .icon:hover{
  font-size: 6em;
  text-align: top;
}

.Banner .BannerContainer .icon{
 text-align: center;
 margin-left: 30px;
}




.products-heading {
  text-align: center;
  margin: 40px 0px;
  color: #324d67;
  padding-left: 50px;
  padding-right: 50px;

}

.products-heading h2 {
  font-size: 44px;
  font-weight: 800;
}

.products-heading p {
  font-size: 16px;
  font-weight: 200;
}


@media (max-width: 768px) {
  .products-heading{
    padding-left: 10px;
    padding-right: 10px;
  }
  .products-heading h2 {
    font-size: 34px;
    font-weight: 800;
  }
  
  .products-heading p {
    font-size: 14px;
    font-weight: 200;
  }
}

/* Services */


.Services{
  margin-top: 0;
  padding: 100px 0 300px 0px;
  background-repeat: no-repeat;
  background-color: white;
  height: auto + 350px;
  font-family: Gothic;
  font-weight: 600;

}


.myS{
  border-width: 5px;
  border-left: 5px solid midnightblue;
  margin-top: 40px;
  margin-bottom: 40px;
}

.Testimon{
  background-color: white;
}

.myS  h1{
  font-weight: bold ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Services p{
  color: grey ;
}

.Services .myContainer{
  background-color: rgb(235, 232, 232) ;
  
  width: 100%;
  height: auto;
  
}

.Services .myContainer div{
  text-align: center;
  padding: 2%;
}

.Services .myContainer .clr{
  background-color: midnightblue;
  color: rgb(235, 232, 232);
  border-radius: 10px;
  }

  .Services .myContainer .clr:hover{
    background-color: #ED1C24;
    }

.Services div  img{
  width: 5rem;
  height: 5rem;
}

.Services div .tabletext{
  font-size: 26px;
  font-weight: bold;
}

.myB{
  background-color: rgb(235, 232, 232); 
  height: auto;
  padding: 20px;
}
  .myB .mytext{
  padding: 20px;
  text-align: center;
  
}

.myB .mytext img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  
}

.Test{
  margin-top: 0;
  padding: 300px 0 300px 0px;
  background-repeat: no-repeat;
  background-color: white;
  font-family: RobotoSlab;
}



.Plan{
 
  
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.5)), url(".//assets/img/mytruck.jpg");
  background-repeat: no-repeat;
  width: 100%;
  border: 5px solid black;
  height: auto;
  
}

.Specialize{
 padding-top: 60px;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  background-color: white;
  
}



.Plan .PlanContainer{
 
 text-align: center;
 color: white;
 overflow: hidden;
 display: flex;
justify-content: center;
align-items: center;
}

.Plan .PlanContainer .btn3{
  border: 1px #ED1C24 solid;
  background-color: transparent;
  color: #ED1C24;
}

.Plan .PlanContainer .btn3:hover {
  background-color: #ED1C24 ;
  color: white;

}


.Production{
  background-repeat: no-repeat;
  width: 100%;
  object-fit: cover;
  height: 400px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}


.heading{
  padding-top: 40px;
 background-color: midnightblue;
 border: 1px solid white;
 padding-bottom : 40px;
 padding-left: 0px;
 padding-right: 0px;
 text-align: center;

 }
 .heading:hover{
  background-color: red
;
  color:white;
 }

 
.body{
  border: 1px solid white;
  width: 300px!important;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

.body:hover{
  background-color: rgba(128, 128, 128, 0.295);
}

@media (min-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}