/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}
@font-face {
	font-family: Kanit;
	src: url('./FONTS/Righteous-Regular.ttf');
	
}
@font-face {
	font-family: Gothic;
	src: url('./FONTS/DidactGothic-Regular.ttf');
	
}
@font-face {
	font-family: Raleway;
	src: url('./FONTS/static/Raleway-Regular.ttf');
	
}
@font-face {
	font-family: RobotoSlab;
	src: url('./FONTS/static/RobotoSlab-Regular.ttf');
	
}
@font-face {
	font-family: Nunito;
	src: url('./FONTS/NunitoSans-Bold.ttf');
	
}
/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  color: black !important;
  font-family: 'Centra', sans-serif !important;
}
body p{
  font-family: Gothic;
  font-weight: 600;}

  body h1,h2,h3,h5,h6{
    font-family: Raleway;
    font-weight: 600;}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}


p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  /* background-color: transparent; */
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

/************ Strip Css ************/
.Strip{
  width: 100%;
  height: 42px;
  padding: 10px 0 20px 0px;
  background-color: orangered;
  color: white;
  margin-top: 0; 
  background-repeat: no-repeat;
  overflow: hidden;
  font-family: RobotoSlab;
}
.Strip a{
  font-size: 20px;
}



.Strip table thead td{
  padding-right: 5px;
  overflow: hidden;
}


#STRIP{
  margin-left: 15px;
  margin-right: 5px;
}

.Strip .marquee {
color:white;
letter-spacing: 2px;
font-weight: 500;
padding-left: -10px;
font-size: 20px;
}




/************ Navbar Css ************/


nav.navbar {
  padding: 0px 0;
 
  width: 100%;
  z-index: 9999;
  transition:  0.32s ease-in-out;
  background-color: white;
  opacity: 1;
  height: auto;
  position: sticky;
  top: 0%;
  font-family: RobotoSlab;
  
}


nav.navbar a.navbar-brand {
    width: 12%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 500;
  color: gray ;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 20px;
  opacity: 1;
}

nav.navbar .navbar-nav .nav-link.active-link {
color: orangered;
}

nav.navbar a{
  font-weight: 500;
  color: gray ;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 20px;
  opacity: 1;
}

nav.navbar a:hover{
  opacity: 1.5;
  color: orangered;
}






span.navbar-text {
    display: flex;
    align-items: center;
}


.intro {

  background: linear-gradient(rgba(0,0,0,0.671),rgba(0, 0, 0, 0.671)), url("../src/assets/img/12.jpg");
  margin-top: 0;
  padding: 50px 0 50px 0px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  
  } 

  .intro .game p{
    font-family: RobotoSlab;
    font-weight: lighter;
  }
  
  .intro .game h3,h4,h1,h2,h5{
    font-family: RobotoSlab;
    font-weight: lighter;
  }

  .intro marquee .btn1{
    background-color: orangered; ;
    color: white;
  }
  .intro marquee .btn1:hover {
    border: 1px orangered solid;
    background-color: transparent;
    color: orangered;
  }

  .intro marquee .btn2{
    margin-left: 30px;
    border: 1px white solid;
    background-color: transparent;
    color: white;
  }
  .intro marquee .btn2:hover {
    background-color: white; ;
    color: black;
  }


  /*footer*/

 .Footer{
	background-color: #202126;

 }
  /* Banner */

.Banner{
  padding: 50px 0 20px 0px;
  background-repeat: no-repeat;
  background-color: rgb(235, 232, 232);
  height: auto;
  text-align: center;
  align-items: center;
  padding-left: 5px;
  
  
}

.Banner .BannerContainer{
  width: 100%;
  text-align: center;
  justify-content: center;
  
}

.Banner .BannerContainer p{
  color: grey;
  font-size: 14px;
  font-weight: bold;
  font-family: Gothic;
}

.Banner .BannerContainer h4{
  font-weight: bold;
  font-family: RobotoSlab;
}



/* Services */


.Services{
  margin-top: 0;
  padding: 100px 0 300px 0px;
  background-repeat: no-repeat;
  background-color: white;
  height: auto + 350px;
  font-family: Gothic;
  font-weight: 600;

}
.myS{
  border-width: 5px;
  border-left: 5px solid orangered;
}

.myS{
  border-width: 5px;
  border-left: 5px solid orangered;
}
.Services  h1{
  font-weight: bold ;
}
.Services p{
  color: grey ;
}

.Services .myContainer{
  background-color: rgb(235, 232, 232) ;
  
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.Services .myContainer div{
  text-align: center;
  padding: 2%;
}

.Services .myContainer .clr{
  background-color: orangered;
  color: rgb(235, 232, 232);
  border-radius: 10px;
  }

.Services div  img{
  width: 5rem;
  height: 5rem;
}

.Services div .tabletext{
  font-size: 26px;
  font-weight: bold;
}

.myB{
  background-color: rgb(235, 232, 232);
  border-radius: 3%; 
  height: auto;
  padding: 20px;
}
  .myB .mytext{
  padding: 20px;
  text-align: center;
  
}

.myB .mytext img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  
}

.Test{
  margin-top: 0;
  padding: 300px 0 300px 0px;
  background-repeat: no-repeat;
  background-color: white;
  font-family: RobotoSlab;
}



.Plan{
 
  
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0.5)), url(".//assets/img/mytruck.jpg");
  background-repeat: no-repeat;
  width: auto;
  height: auto;
  

}



.Plan .PlanContainer{
 
 text-align: center;
 text-align: top;
 color: white;
 overflow: hidden;
justify-content: center;
align-items: center;
}


.heading{
  padding-top: 40px;
 background-color: orangered;
 border: 1px solid white;
 padding-bottom : 40px;
 padding-left: 0px;
 padding-right: 0px;

 }
 .heading:hover{
  background-color: grey;
  color:white;
 }

 
.body{
  border: 1px solid white;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

.column:hover{
  padding-top:90px;
}

@media (min-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}