
.Faqsbanner{
    background:linear-gradient(rgba(0,0,0,0.671),rgba(0, 0, 0, 0.671)), url("../src/assets/img/wp8930082-faq-wallpapers.jpg") ;
    width: 100%;
    height: auto;
    padding: 100px 0 100px 0px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  
  
  }
  
  .Faqs h1 {
    overflow: hidden;
    text-align: center;
  }
  
  .Faqs h1:before,
  .Faqs h1:after {
    background-color: orangered;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
  .Faqs h1:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .Faqs h1:after {
    left: 0.5em;
    margin-right: -50%;
  }